#ifndef CREDENTIALS_H
#define CREDENTIALS_H

// WiFi
const char* WIFI_SSID     = "ADMINISTRACION";
const char* WIFI_PASSWORD = "administracion2026.";

// Azure IoT Hub — completar con los valores que entregue Kta (BE-2)
const char* IOT_HUB_HOST = "cnc-iot-hub.azure-devices.net";   // reemplazar
const char* DEVICE_ID    = "esp32-cnc1";                   // acordar con BE-2

// Referencia oficial: https://learn.microsoft.com/azure/iot-hub/reference-iot-hub-tls-support

const char* DEVICE_PRIMARY_KEY = "KEY_BASE_64";

#endif
